.bigIcon {
  font-size: 30px !important;
}

.mediumIcon {
  font-size: 25px !important;
}

.smallIcon {
  font-size: 20px !important;
}

.verySmallIcon {
  font-size: 5px !important;
  color: rgb(152, 152, 152);
}
