.ql-container.ql-snow {
  height: auto;
}

.ql-editor {
  font-family: sans-serif !important;
}

@media screen and (min-width: 768px) {
  .ql-editor {
    height: 45vh;
    overflow-y: auto;
  }
}

.readonly {
  .ql-toolbar {
    display: none !important;
  }
  .ql-container {
    border: none !important;
    padding: 0 !important;
  }

  .ql-editor {
    padding: 0 !important;
  }
}
